@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

.gluten-normal {
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"slnt" -6;
}

@layer reset {
    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
}


@layer ui-kit {
    :root {
        --main-color: #FFBE00;
        --main-color-light: #e6e6d4;
        --bg-color: #005874;
        --b-radius: 50px;
        font-size: 16px;
    }
}


@layer layout {
    .container {
        padding: 3rem 5%;
        height: 100vh;
        height: 100svh;
    }

    .section__results {
        display: flex;
    }
}


@layer decoration {
    .section {
        background: #1C819E;
        color: var(--main-color);
    }

    .header {
        margin-bottom: 3rem;
        font-size: 3rem;
    }

    .title {
        margin-bottom: 1.5rem;
        font-size: 1.7rem;
    }

    .form {
        margin-bottom: 2rem;
        & > input {
            padding: 0.5rem 1.2rem;
            height: 40px;
            border-radius: var(--b-radius);
            font: inherit;
            margin-bottom: 1rem;
        }
    }

    form .input {
        background: var(--main-color-light);
        border: none;
        margin-right: 0.5rem;
    }

    form .button {
        border: none;
        background: var(--main-color);
        color: var(--bg-color);
        padding: 0.5rem 2.5rem;
        box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.2), 0 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
        &:active {
            background: var(--main-color-light);
        }
    }

    .results {
        /* border: 2px dotted var(--main-color-light);
        --height: 70;
        height: calc(var(--height) * 1%);
        border-radius: calc(var(--b-radius) * var(--height) / 100); */
        padding: 1.5rem 1.5rem;
        font-size: 16px;
    }

}

